[submodule "PfxWebDAVServer"]
	path = PfxWebDAVServer
	url = https://github.com/ellipsisnl/PfxWebDAVServer
[submodule "PfxWebDAVREST"]
	path = PfxWebDAVREST
	url = https://github.com/ellipsisnl/PfxWebDAVREST
